<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Rajdhani&display=swap"
      rel="stylesheet"
    />

    <title>SW사관학교 정글 | 나홀로 메모장 ver 2.0</title>

    <!-- style -->
    <style type="text/css">
      * {
        font-family: "IBM Plex Sans KR", sans-serif;
        font-family: "Rajdhani", sans-serif;
      }

      .wrap {
        width: 900px;
        margin: auto;
      }

 

      #post-box {
        width: 500px;
        margin: 20px auto;
        padding: 50px;
        border: black solid;
        border-radius: 5px;
      }
    </style>
    <script>
      $(document).ready(function () {
      showArticles();
      });


      function postArticle() {
        let memoTitle = $("#input-title").val();
        let memoCtx = $("#input-text").val();
        let id = Math.floor(Math.random() * 100)
        $.ajax({
          type: "POST",
          url: "/memo",
          data: { title_give: memoTitle, ctx_give: memoCtx, id_give: id },
          success: function (response) {
            // 성공하면
            if (response["result"] == "success") {
              alert("성공!");
              showArticles();
            } else {
              alert("실패!");
            }
          },
        });
      }

      function showArticles() {
        $("#cards-list").html("");
        $.ajax({
          type: "GET",
          url: "/memo",
          data: {},
          success: function (response) {
            let articles = response["memos"];
            console.log('memos:', articles)
            for (let i = 0; i < articles.length; i++) {
              makeCard(
                articles[i]["title"],
                articles[i]["ctx"],
                articles[i]["id"]
              );
            }
          },
        });
      }

      function makeCard(title, desc, id) {
        let tem_HTML = `<div class="card" id="${id}"">
         <div class="card-body">
            <a href="#" class="card-title">${title}</a>
            <p class="card-text">
              ${desc}
            </p>
            <button type="button" class="btn btn-info" onclick="editMode(${id},${title}, ${desc})">수정</button>
            <button type="button" class="btn btn-danger" onclick="deleteMode(${id})">삭제</button>
        </div>
        `;
        $("#cards-list").append(tem_HTML);
      }

      function editMode(id, title, desc){
        console.log('실행?', id)

        $('#'+id).children('div').hide();

         let tem_HTML = `
         <div class="card-body">
             <div class="form-group">
            <label for="post-url"></label>
            <input id="input-title${id}" class="form-control" placeholder="수정할 제목을 입력하세요" value="${title}" />
          </div>
            <div class="form-group">
            <label for="post-url"></label>
            <input id="input-text${id}" class="form-control" placeholder="수정할 내용을 입력하세요" value=${desc} />
          </div>
            <button type="button" class="btn btn-info" onclick="saveMode(${id})">저장</button>
        `;
        $("#"+id).append(tem_HTML);
      }

      function deleteMode(id){
         $.ajax({
          type: "POST",
          url: "/deletememo",
          data: { id_give: id },
          success: function (response) {
            // 성공하면
            if (response["result"] == "success") {
              alert("성공!");
              showArticles();
            } else {
              alert("실패!");
            }
          },
        });
      }

      function saveMode(id){
        let memoTitle = $("#"+"input-title"+id).val();
        let memoCtx = $("#input-text"+id).val();
        $.ajax({
          type: "POST",
          url: "/editmemo",
          data: { title_give: memoTitle, ctx_give: memoCtx, id_give: id },
          success: function (response) {
            // 성공하면
            if (response["result"] == "success") {
              alert("성공!");
              showArticles();
            } else {
              alert("실패!");
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <div class="wrap">
      <div class="jumbotron">
        <h1 class="display-4">나홀로 메모장</h1>
        <div>ver2.0</div>
        
     
       
     


      <div  class="form-post" >
        <div>
          <div class="form-group">
            <label for="post-url"></label>
            <input id="input-title" class="form-control" placeholder="제목을 입력하세요" />
          </div>
          <textarea
              id="input-text"
              class="form-control"
              rows="2"
              placeholder="내용을 입력하세요"
            ></textarea>
          </div>
         <button
            onclick="postArticle()"
            id="btn-post-box"
            type="submit"
            class="btn btn-primary"
          >
          저장하기
          </button>
        </div>
      </div>
      <div id="cards-list" >
       <div class="card">
         <div class="card-body">
            <a href="#" class="card-title">제목</a>
            <p class="card-text">
              내용
            </p>
            <button type="button" class="btn btn-info">수정</button>
            <button type="button" class="btn btn-danger">삭제</button>
        </div>
      </div>
      </div>
 </div>

      
    </div>
  </body>
</html>
